{% extends 'newLayout.html' %}
{% load static %}
{% load humanize %}
{% load define_action %}

{% block meta %}
    <title>Pan Barnaba - moderate</title>
    <meta name="description” content=”Pan Barnaba i zagadkowa hipoteza. autor: Katarzyna Kalista. Strefa moderatora" />
{% endblock %}

{% block NAV1 %}
    <span> STREFA MODERATORA</span>
{% endblock %}

{% block full %}
    <div class="container-fluid">
        <form action="">
            <div class="row justify-content-center">
                <h2><span class="PB2 justify-content-center mx-4">filtrowanie dyskusyjnych klubów książki ({{ akt_lib }}/{{ max_lib }})</span></h2>
                <div class="col-4">
                    <div class="input-group input-group-sm mb-3">
                        <div CLASS="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">region</span>
                        </div>
                        <input class="form-control"  type="text" placeholder="nazwa, fragment nazwy" value="{{ area_filtr }}" name="area_filtr"  maxlength="128" />
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <div CLASS="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Nazwa</span>
                        </div>
                        <input class="form-control"  type="text" placeholder="fragment tekstu, ktrórego szukasz" value="{{ name_filtr }}" name="name_filtr"  maxlength="128" />
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-group input-group-sm mb-3">
                        <div CLASS="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">moderator</span>
                        </div>
                        <input class="form-control"  type="text" placeholder="wpisz szukaną frazę..." value="{{ moderator_filtr }}" name="moderator_filtr"  maxlength="128" />
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <div CLASS="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">email</span>
                        </div>
                        <input class="form-control"  type="text" placeholder="wpisz szukaną frazę..." value="{{ email_filtr }}" name="email_filtr"  maxlength="128" />
                    </div>
                </div>
                <div class="col-2 ms-2">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input"  id="kids" name = 'kids' {% if kids %} checked {% endif %}>
                        <label class="custom-control-label" for="check" >DKK dla dzieci</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input"  id="young" name = 'young' {% if adults %} checked {% endif %}>
                        <label class="custom-control-label" for="double" >DKK dla młodzieży</label> 
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input"  id="adults" name = 'adults' {% if young %} checked {% endif %}>
                        <label class="custom-control-label" for="double" >DKK dla dorosłych</label> 
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input"  id="closed" name = 'closed' {% if closed %} checked {% endif %}>
                        <label class="custom-control-label" for="double" >czy zamknięta</label> 
                    </div>
                </div>
                <div class="col-1">
                    <button type="submit" class="btn btn-primary">Filtruj</button>
                </div>
            </div>
        </form>
        <div class="row justify-content-center">
            <div class="col-sm center">
                <table class="table table-striped table-bordered">
                    <thead class="PB_table_header">
                        <tr class="align-items-center">
                            <th class="text-center">area</th>
                            <th class="text-center">city</th>
                            <th class="text-center">name</th>
                            <th class="text-center">moderator</th>
                            <th class="text-center">email</th>
                            <th class="text-center">kids</th>
                            <th class="text-center">adults</th>
                            <th class="text-center">young</th>
                            <th class="text-center">closed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in libraries %}
                        <!-- <div class="d-flex flex-row"> -->
                        <tr class="align-items-center">
                            <td class="text-right" name="area">
                                <button 
                                    type="button" 
                                    class="border rounded-pill" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#AddModPost" 
                                    data-id="{{ item.id }}"
                                    data-area="{{ item.area }}"
                                    data-city="{{ item.city }}"
                                    data-name="{{ item.name }}"
                                    data-phone="{{ item.phone }}"
                                    data-email="{{ item.email }}"
                                    data-www="{{ item.www }}"
                                    data-kids="{{ item.DDK_kids }}"
                                    data-adults="{{ item.DDK_adults }}"
                                    data-young="{{ item.DDK_young }}"
                                    data-young="{{ item.DDK_theme }}"
                                    data-young="{{ item.notes }}"
                                    data-closed="{{ item.closed }}">
                                    
                                    {{ item.area }}
                                </button>
                            </td>
                            <td class="text-center">
                                {{ item.city }}
                            </td>
                            <td class="text-center">
                                {{ item.name }}
                            </td>
                            <td class="text-center align-items-center">
                                <div class="d-flex">
                                    <span class="d-inline mx-2">{{ item.moderator }}</span>
                                </div>
                            </td>
                            <td class="text-center">
                                {{ item.email }}
                            </td>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox" name="kids_flag" {% if item.DDK_kids %} checked {% endif %}>
                            </td>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox" name="adults_flag" {% if item.DDK_adults %} checked {% endif %}>
                            </td>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox" name="young_flag" {% if item.DDK_young %} checked {% endif %}>
                            </td>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox" name="closed_flag" {% if item.closed %} checked {% endif %}>
                            </td>
                        </tr>
                        <!-- </div> -->
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% if libraries.has_other_pages %}
        {% with records=libraries %}
            {% include 'paginator.html' %}
        {% endwith %}
    {% endif %}

{% endblock %}