{% extends 'newLayout.html' %}
{% load static %}
{% load humanize %}
{% load define_action %}

{% block meta %}
    <title>Pan Barnaba - moderate</title>
    <meta name="description” content=”Pan Barnaba i zagadkowa hipoteza. autor: Katarzyna Kalista. Strefa moderatora" />
{% endblock %}

{% block NAV1 %}
    <span> STREFA MODERATORA</span>
{% endblock %}

{% block full %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm center">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="align-items-center">
                        <th class="text-center">id</th>
                        <th class="text-center">poziom</th>
                        <th class="text-center">grupa</th>
                        <th class="text-center">typ</th>
                        <th class="text-center">pytanie</th>
                        <th class="text-center">ile podpowiedzi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="align-items-center">
                        <td class="text-center" name="quiz_ID">
                            {{ quiz.id }}
                        </td>
                        <td class="text-center">
                            {{ quiz.get_qlevel_display }}
                        </td>
                        <td class="text-center">
                            {{ quiz.qgroup }}
                        </td>
                        <td class="text-center">
                            {{ quiz.get_qtype_display }}
                        </td>
                        <td class="text-center">
                            {{ quiz.question }}
                        </td>
                        <td class="text-center">
                            {{ item.no_ans }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 p-4">
            <form class="PB_Form shadow" action="" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="text-center m-5">
                    <button class="btn btn-primary" type="submit" >Zapisz</button>
                </div>
            </form>
            <div class=" text-center m-5">
                <a href="{% url 'moderate_quiz_level' quiz.qlevel %}">
                    <button class="btn btn-secondary" type="submit" >Wróć do listy pytań</button>
                </a>
            </div>
        </div>
        <div class="col-md-8 p-4">
             <table class="table table-striped table-bordered">
                <thead class="PB_table_header">
                    <tr class="align-items-center">
                        <th></th>
                        <th class="text-center">odpowiedź</th>
                        <th class="text-center">czy poprawna</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in answers %}
                    <tr class="align-items-center">
                        <td class="text-center">
                        <a href="/moderate/quiz_answers_item/{{ quiz.id }}/{{ item.id }}/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </a>
                    </td>
                        <td class="text-right" name="quiz_ID">
                            {{ item.answer }}
                        </td>
                        <td class="text-center">
                            {% if item.correct %}
                               {{ item.correct }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}