{% extends 'newLayout.html' %}

{% load static %}


{% block meta %}
    <title>Pan Barnaba - Znajdź róznicę</title>
    <meta name="description" content="Pan Barnaba i zagadkowa hipoteza. autor: Katarzyna Kalista. Znajdź róznicę" />
{% endblock %}


{% block title_box %}
    <div class="d-inline-block ">
        <div class="row justify-content-center ">
            <span class="cpost_title">Twój czas wykonania</span>
        </div>
        <div class="row justify-content-center  p-2 my-2 cpost_body" id="counter" value="0">
        </div>
    </div>
{% endblock %}

{% block full %}
    <span class="d-none" id="finish" >0</span>
    <span class="d-none" id="result" >0</span>
    <span class="d-none" id="finalTime" >0</span>
    <span class="d-none" id="level">{{ level }}</span>
    <span class="d-none" id="game_id">{{ difference }}</span>
    <span class="d-none" id="blocksize">{{ blocksize }}</span>
    <span class="d-none" id="method">std</span>
    <span class="d-none" id="gameType">differences</span>
    <span class="d-none" id="result"></span>
    <div class = "container">
        <div class="my-4">
            <img src="{% static 'images/lapka.png' %}" class="PB_stamp" alt="cat food stamp">
        </div>
        <div class="msg_central2 font_2 my-4">
            Jak grać?
        </div>
        <div class="container justify-content-center">
            <ul class="list-group cpost_body ">
                <li class="list-group-item border-0">
                    znajdź w rysunku po lewej stronie różnicę i kliknij w nią
                </li>
                <li class="list-group-item border-0">
                     
                </li>
            </ul>
        </div>
        <div class = "row justify-content-md-center">
            <div class="col-lg-6 m-0 p-0">
                <div class="msg_central2 font_2 my-2">
                    <span id="msg">poszukaj 10 różnic</span>
                </div>
                    <div class="container justify-content-center align-items-bottom position-relative">
                        <div class="PB_image2">
                            <img src="{% static 'images/difference/compare/'|add:difference %}"  class="PB_image2" alt="...">
                        </div>
                        <!-- <tbody> -->
                        <div class="position-absolute top-0">
                            
                            {% for item in diff_list %}
                                <div class="row m-0 p-0">
                                {% for cell in item %}
                                    <div class="PB_image_part_{{ blocksize }}"
                                    data-diff="{% if cell %}{{ cell.1 }}{% else %}0{% endif %}"    
                                    data-x="{{ forloop.parentloop.counter0 }}"
                                    data-y="{{ forloop.counter0 }}"
                                    name="diff" >
                                        {% if cell %}
                                            <img 
                                                src="{% static 'images/difference/diff/'|add:cell.0 %}" 
                                                class="card-img-top d-none" 
                                                
                                                alt="difference">
                                        {% else %}
                                            <img 
                                                src="{% static 'images/difference/diff/mistake.png' %}" 
                                                class="card-img-top d-none" 
                                                alt="mistake">
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                         <!-- </tbody> -->
                    </div>
            </div>
            <div class="col-lg-6  m-0 p-0">
                <div class="msg_central2 font_2 my-2">
                    Wzorzec
                </div>
                <div class="container justify-content-center align-items-bottom position-relative">
                    <img src="{% static 'images/difference/'|add:difference %}" class="PB_image2" alt="...">
                </div>
            </div>

        </div>
    </div>
    <!-- <div style="height:300px; width:100%; clear:both;"></div> -->
    {% include 'scoring/score_list.html' %}
    
{% endblock %}

{% block add_ins %}
    <script src=" {% static 'js/timer.js' %} "></script> 
    <script src=" {% static 'js/difference.js' %} "></script> 
{% endblock %}
