{% extends 'newLayout.html' %}
{% load static %}

{% block meta %}
    <title>Pan Barnaba - ceny</title>
    <meta name=”description” content=”Pan Barnaba i zagadkowa hipoteza. autor: Katarzyna Kalista. ranking cen w księgarniach" />
{% endblock %}

{% block full %}
    <div class='container'>
        <div class="my-2">
            <img src="{% static 'images/lapka.png' %}" class="PB_stamp" alt="cat food stamp">
        </div>
        <div class="msg_central2 font_2 my-1" >
            Aktualne ceny książki o mnie w sklepach internetowych
        </div>
        <div class="row" id="10">
            <div class="col-md-3">
                <div class="PB_card_img ms-5">
                    <img src="{% static 'images/books/PanBarnaba_book.jpg' %}" class="card-img-top img-fluid"  alt="Picture">
                </div>
            </div>
            <div class="col-md-9 bg-white">
                <script type="text/javascript" src="https://buybox.click/js/bb-widget.min.js" async=""></script>
                <div class="bb-widget" id="buybox-436v" data-bb-id="14039" data-bb-oid="148787367" ></div>
            </div>
        </div>
        <div class="my-2">
            <img src="{% static 'images/lapka.png' %}" class="PB_stamp" alt="cat food stamp">
        </div>
        <div class="msg_central2 font_2 my-1">
            Powieść obyczajowa autorki - <b>Ostatni Rozdział</b>
        </div>
        <div class="row" id="20">
            
            <div class="col-md-3">
                <div class="PB_card_img ms-5">
                    <img src="{% static 'images/books/OstatniRozdzial_book.jpg' %}" class="card-img-top img-fluid"  alt="Picture">
                </div>
            </div>
            <div class="col-md-9 bg-white">
                <script type="text/javascript" src="https://buybox.click/js/bb-widget.min.js" async=""></script>
                <div class="bb-widget" id="buybox-7axy" data-bb-id="14039" data-bb-oid="131194338" ></div>
            </div>
        </div>
        
        
    </div>
{% endblock %}
