{% extends 'newLayout.html' %}

{% load static %}

{% block meta %}
    <title>PanBarnaba - sudoku</title>
    <meta name=”description” content=”Pan Barnaba i zagadkowa hipoteza. autor: Katarzyna Kalista. Sudoku. Sudoku Samurai" />
{% endblock %}

{% block full %}
<div class='container'>
    {% with static_folder='images/sudoku/' %}
    <div class="my-4">
        <img src="{% static 'images/lapka.png' %}" class="PB_stamp" alt="cat food stamp">
    </div>
    <div class="msg_central2 font_2 my-4">
        Wybierz rodzaj
    </div>
        <div class="card-group">  
            <div class="row">
            {% for item in sudoku %}
                {% include 'NL_card.html' %}
            {% endfor %}
            </div>  
        </div>
    {% endwith %}
</div>

{% endblock %}

{% comment %} {% block add_ins %}
    <script src=" {% static 'js/level_selector.js' %} "></script> 
{% endblock %} {% endcomment %}
