{% extends 'newBasic.html' %}
{% load static %}

{% block full %}
<div class='container'>
    <div>
        <img src="{% static 'images/lapka.png' %}" class="PB_stamp mt-5" alt="cat food stamp">
    </div>
    <div class="msg_central2 font_2">
        zmiana hasła użytkownika:<span> {{ user.username }}</span>
    </div>
        <form action="" method='post' >
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" ss="PB_button m-2 value="Zmień">
        </form>

    </div>
{% endblock %}