{% extends 'newLayout.html' %}
{% load static %}

{% block meta %}
    <title>Pan Barnaba - formularz kontaktowy</title>
    <meta name=”description” content=”Pan Barnaba i zagadkowa hipoteza. autor: Katarzyna Kalista. Napisz do autorki” />
{% endblock %}

{% block full %}
    <div class="container">
        <div class="central_block justify-content-center">
            <div>
                <img src="{% static 'images/lapka.png' %}" class="PB_stamp" alt="cat food stamp">
            </div>
            <div class="msg_central2 font_2">
                zapraszamy do kontaktu
            </div>
            <div>
                <img class="central_img" src="{% static 'images/KatarzynaKalista-7.jpg' %}"  alt="Pan Barnaba" target="_blank">
            </div>
            <div class="msg_central2 font_2">
                Drogi czytelniku!
            </div>
            <div class="lpost_body">
                <p >   
                    Twój głos jest dla nas bardzo ważny. <br>Zachęcamy Cię więc do dzielenia sie z nami wszelkimi uwagami, zarowno na 
                    <a href="{% url 'forum' %}" alt="forum">forum</a> jak i tutaj, gdzie masz możliwość wysłania wiadomości, która nie będzie widoczna dla innych użytkowników. <br>
                    Jesli chcesz, to możesz nam zostawić swój adres mailowy, abyśmy mogli odpowiedzieć na Twoją wiadomość.
                </p>
                <p >
                jeśli chcesz, możesz zamówić książkę z autografem, na przykład na prezent. <br>
                Nie tylko Pana Barnabę, ale także 
                    <a href="https://www.czarnaowca.pl/kategorie/bez_kategorii/ostatni-rozdzial,p1409185918" alt="Ostatni rozdział" target="_blank">
                        Ostatni rozdział
                    </a> - idealny prezent na Dzień Mamy.
                </p>
                <p class="text-right py-1">
                    <i>Katarzyna Kalista</i>
                </p>
            </div>

        </div>
        <div >
            <div class="content-info">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="number" class="d-none" id="id" name="id" value="">
                    <input type="number" class="d-none" id="group" name="group" value="7">
                    <input type="number" class="d-none" id="stage" name="stage" value="0">
                    <input type="text" class="d-none" id="user" name="user" value="{{ request.user_id }}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="subgroup" class="d-flex msg_central2  font_2 my-2 justify-content-centre widith-100" autocomplete="none">
                                Podaj tytuł wiadomości
                            </label>
                            <input type="text" class="form-control central_input" id="subgroup" name="subgroup">
                        </div>
                        <div class="mb-3">
                            <label for="content" class="d-flex msg_central2 font_2  my-2 justify-content-centre widith-100" autocomplete="none">
                                wpisz treść wiadomości
                            </label>
                            <textarea class="form-control central_input lpost_body" id="content" name="content" rows="16"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="external_link" class="form-label">adres email</label>
                            <input class="form-control central_input lpost_body" type="email" name="external_link" id="external_link">
                        </div>
                        <div class="mb-3">
                            <div class="p-2 m-2 px-4">
                                <div class="d-flex msg_central2  font_2 mb-2 justify-content-centre widith-100">
                                    Jeśli chcesz, to załącz własny rysunek. Może wykorzystamy go jako puzzle.
                                </div>
                            </div>
                            <div>
                                <!-- <label for="pictureFile" class="form-label lpost_body">wybierz plik z dysku</label> -->
                                <input class="form-control central_input lpost_body" type="file" accept="image/x-png,image/jpeg" id="pictureFile" name="pictureFile">
                            </div>
                        </div>
                    </div>
                    <div class="text-center justify-content-center">
                        <button class="PB_button  mt-2 mb-4" type="submit" >
                            <img src="{% static 'images/PB_wavinghand.png' %}"  class="PB_wavinghand" alt="">
                            Wyślij
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}