{% extends 'newLayout.html' %}
{% load static %}

{% block meta %}
    <title>Pan Barnaba - gry</title>
    <meta name=”description” content=”Pan Barnaba i zagadkowa hipoteza. autor: Katarzyna Kalista. Gry - sudoku, quiz, puzzle, szyfrowanie” />
{% endblock %}

{% block full %}
<div class='container'>
     {% with static_folder='images/menu/' %}
        <div class="my-4">
            <img src="{% static 'images/lapka.png' %}" class="PB_stamp" alt="cat food stamp">
        </div>
        <div class="msg_central2 font_2 my-4">
            Zagrajmy
        </div>
        <div class="row">
            <div class="card-group mx-auto">    
                {% for item in games %}
                    {% include 'NL_card.html' %}
                {% endfor %}
            </div>
        </div>
    {% endwith %}
</div>

{% endblock %}