{% extends 'main.html' %}
{% load static %}
{% load define_action %}

{% block head %}
    <link rel="stylesheet"  href="{% static 'css/PB_posts.css' %}"/>
 {% endblock %}

{% block full %}
    <div id="carouselExampleSlidesOnly" class="carousel slide my-2 bg_color_orange17" data-bs-ride="carousel">
        <div class="container-fluid">
        <div class="carousel-inner">
            <div class="carousel-item  active">
                <div class="d-flex justify-content-center p-2 article-photo-carousel">
                    <img  src="{% static 'images/PanBarnaba_72.jpg' %}"  alt="Pan Barnaba" target="_blank">
                </div>
            </div>
            {% with static_folder='images/carousel/' %}
                {% for item in puzzle %}
                    <div class="carousel-item ">
                         <div class="d-flex justify-content-center article-photo-carousel">
                            <img src="{% static static_folder|add:item.1 %}" class="d-flex" alt="Picture">
                        </div>
                    </div>
                {% endfor %}
            {% endwith %}
            <div class="carousel-item  ">
                <div class="d-flex justify-content-center p-2 article-photo-carousel">
                    <img  src="{% static 'images/author.jpg' %}"  alt="Katarzyna Kalista"  target="_blank">
                    <div class="m-5 aligncenter">
                            <h2 class="m-2">autorka - Katarzyna Kalista </h5><br>
                            <p class="mx-2">
                                Krakowianka z urodzenia. Ukończyła dziennikarstwo i komunikację społeczną na Uniwersytecie Jagiellońskim. 
                    Od lat pracuje w branży IT. Pomysł na jej debiut „Ostatni rozdział” pojawił się w drodze do Santiago de Compostela.
                    Wyemancypowana żona, mama dwóch synów i samozwańcza pani dwóch (teraz już trzech) kotów.
                            </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="container">
        {% for bubble in content %}
            {% include 'bubble.html' %}
            <hr>
        {% endfor %}
        {% with static_folder='images/menu/' %}
            <span class="d-flex justify-content-center PB2 PB_bg_logo m-4 justify-content-centre widith-100">
                zagraj w którąś grę
            </span>
            <div class="row">
                <div class="card-group">    
                    {% for item in games %}
                        {% include 'card-mini.html' %}
                    {% endfor %}
                </div>
            </div>
            <span class="d-flex justify-content-center PB2 PB_bg_logo m-4 justify-content-centre widith-100">
                albo poznaj fascynujące algorytmy
            </span>
            <div class="row">
                <div class="card-group">    
                    {% for item in maths %}
                        {% include 'card-mini.html' %}
                    {% endfor %}
                </div>
            </div>
        {% endwith %}
    </div>
    <div class="container my-2">
         <span class="d-flex justify-content-center PB2 PB_bg_logo m-4 justify-content-centre widith-100">
                Najświeższe wiadomości
            </span>
        {% for item in posts %}
            {% include 'posts/post.html' %}
        {% endfor %}

        {% if posts.has_other_pages %}
            {% with records=posts %}
                {% include 'paginator.html' %}
            {% endwith %}
        {% endif %}
    </div>
    <div class="justify-content-center text-center">
            <a href="/">
            <button class="btn btn-secondary btn-lg">
                Zaczynajmy
            </button>
            </a>
        </div>
    <br>
 {% endblock %}