{% extends 'newBasic.html' %}
{% load static %}

{% block full %}
<div class="container" >
        <div>
            <img src="{% static 'images/lapka.png' %}" class="PB_stamp mt-5" alt="cat food stamp">
        </div>
        <div class="msg_central2 font_2">
            Zaloguj się
        </div>
        <form action="" method="post" class="d-float justify-content-center text-center my-5">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="PB_button m-2" value="Zaloguj">
            <input type="text" class="d-none" name="next" value="{{ next }}" />
        </form>
        <div>
            <img src="{% static 'images/lapka.png' %}" class="PB_stamp mt-5" alt="cat food stamp">
        </div>
        <div class="msg_central2 font_2 mb-5">
            lub
        </div>
        <div class="text-center">
            <a class="m-5 PB_button" href="{% url 'createuser' %}">
                <img src="{% static 'images/user.png' %}" class="userLogo" alt="user">
                utwórz konto
            </a>
        </div>
        
    </div>
{% endblock %}