{% extends 'newLayout.html' %}
{% load static %}

{% block meta %}
    <title>Pan Barnaba - algorytmy</title>
    <meta name=”description” content=”Pan Barnaba i zagadkowa hipoteza. autor: Katarzyna Kalista. Algorytmy - gra życie (game of life), labirynt, fractale, fraktale” />
{% endblock %}

{% block full %}
<div class='container'>
    <div class="my-4">
        <img src="{% static 'images/lapka.png' %}" class="PB_stamp" alt="cat food stamp">
    </div>
    <div class="msg_central2 font_2 my-4">
        Wskocz w świat algorytmów
    </div>
     {% with static_folder='images/menu/' %}
        <div class="row">
            <div class="card-group mx-auto">    
                {% for item in maths %}
                    {% include 'NL_card.html' %}
                {% endfor %}
            </div>
        </div>
    {% endwith %}
</div>

{% endblock %}