{% extends 'newLayout.html' %}
{% load static %}
{% block meta %}
    <title>Pan Barnaba - Polityka prywarności</title>
    <meta name=”description” content=”Pan Barnaba i zagadkowa hipoteza. autor: Katarzyna Kalista. Forum. Regulamin” />
{% endblock %}

{% block full %}
    <div class='container lpost_body'>
        <div class="mt-5">
            <img src="{% static 'images/lapka.png' %}" class="PB_stamp" alt="cat food stamp">
        </div>
        <div class="msg_central2 font_2">
            Nasza polityka
        </div>
        <hr>
        <div class="lpost_title my-2">
            § 1. IFORMACJE OGÓLNE
        </div>  
        <p class="mb-2">
            Co do zasady nie zbieramy danych osobowych. Konto zakłądasz używając nicka/pseudonimu. Nawet jak podasz jakieś prawdziwe imię czy nazwisko, to nie są to dane pozwalające jednoznacznie 
            Cię zidentyfikować.
            Konto na naszej stronie jest potrzebne do dwóch rzeczy: <br>
            - aby rejestrować swoje osiągi w grach <br>
            - aby móc zamieszczać wpisy i komentarze na forum <br>
            <br>
            
        </p>
        <p class="mb-2">
            Co prawda możesz zostawić nam swój email, (czego jednak nie rekomendujemy) głównie w celu odzyskania hasła, ale zamiast tego w razie zapomnienia hasła zawsze możesz założyć nowe. 
        </p>
        <p>
            <br>
            i to wszystko. 
            Nie zbieramy żadnych wrażliwych danych na Twój temat.
        </p>
        </p>
        <p class="mb-2">
        
        </p>
        <div class="d-flex justify-content-center">
            <a href="{% url 'main' %}" class="PB_button  my-2">
                <img src="{% static 'images/PB_wavinghand.png' %}"  class="PB_wavinghand" alt="">
                strona główna
            </a>
        </div>
    </div>
{% endblock %}