{% load static %}
{% load inlinecss %}
{% inlinecss  'css/PB_email.css'  %}

<!-- "css/PB_email.css" -->
<!DOCTYPE html>
<html>

<head lang="pl-PL">
  <meta charset="UTF-8">
  <!-- <title>Title</title> -->
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Martel:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
</head>
<body>
    {% block mail %}

    {% endblock %}
</body>
</html>
{% endinlinecss %}