.color_brown1{ color: rgb(89,13,15);}
.color_brown2{ color: rgb(107,80,69);}
.color_darkgrey1{ color: rgb(54,49,53);}
.color_darkgrey2{ color: rgb(139,140,135);}
.color_darkgrey3{ color: rgb(163,160,155);}
.color_grey9{ color: rgb(170,167,162);}
.color_grey16{ color: rgb(171,168,163);}
.color_grey20{ color: rgb(172,169,164);}
.color_grey21{ color: rgb(173,170,165);}
.color_grey22{ color: rgb(174,171,164);}
.color_grey23{ color: rgb(174,171,166);}
.color_grey25{ color: rgb(175,172,167);}
.color_grey29{ color: rgb(176,173,168);}
.color_grey30{ color: rgb(186,182,181);}
.color_grey32{ color: rgb(206,204,207);}
.color_grey35{ color: rgb(238,238,238);}
.color_grey38{ color: rgb(238,239,241);}
.color_grey44{ color: rgb(238,239,243);}
.color_grey45{ color: rgb(236,240,243);}
.color_grey49{ color: rgb(239,240,244);}
.color_grey55{ color: rgb(237,241,244);}
.color_ocean83{ color: rgb(125,203,205);}
.color_ocean91{ color: rgb(146,203,212);}
.color_ocean93{ color: rgb(141,212,218);}
.color_ocean94{ color: rgb(142,213,219);}
.color_ocean96{ color: rgb(148,213,215);}
.color_ocean98{ color: rgb(154,215,216);}
.color_ocean99{ color: rgb(175,223,227);}
.color_ocean100{ color: rgb(190,229,226);}
.color_ocean101{ color: rgb(193,229,227);}
.color_ocean102{ color: rgb(194,230,228);}
.color_orange17{ color: rgb(252,184,85);}
.color_orange18{ color: rgb(253,192,109);}
.color_orange20{ color: rgb(253,195,113);}
.color_orange21{ color: rgb(254,200,126);}
.color_pink7{ color: rgb(118,63,92);}
.color_pink24{ color: rgb(113,68,91);}
.color_pink26{ color: rgb(151,75,113);}
.color_pink29{ color: rgb(152,76,114);}
.color_pink30{ color: rgb(153,77,115);}
.bordercolor_brown1{ border-color: rgb(89,13,15);}
.bordercolor_brown2{ border-color: rgb(107,80,69);}
.bordercolor_darkgrey1{ border-color: rgb(54,49,53);}
.bordercolor_darkgrey2{ border-color: rgb(139,140,135);}
.bordercolor_darkgrey3{ border-color: rgb(163,160,155);}
.bordercolor_grey9{ border-color: rgb(170,167,162);}
.bordercolor_grey16{ border-color: rgb(171,168,163);}
.bordercolor_grey20{ border-color: rgb(172,169,164);}
.bordercolor_grey21{ border-color: rgb(173,170,165);}
.bordercolor_grey22{ border-color: rgb(174,171,164);}
.bordercolor_grey23{ border-color: rgb(174,171,166);}
.bordercolor_grey25{ border-color: rgb(175,172,167);}
.bordercolor_grey29{ border-color: rgb(176,173,168);}
.bordercolor_grey30{ border-color: rgb(186,182,181);}
.bordercolor_grey32{ border-color: rgb(206,204,207);}
.bordercolor_grey35{ border-color: rgb(238,238,238);}
.bordercolor_grey38{ border-color: rgb(238,239,241);}
.bordercolor_grey44{ border-color: rgb(238,239,243);}
.bordercolor_grey45{ border-color: rgb(236,240,243);}
.bordercolor_grey49{ border-color: rgb(239,240,244);}
.bordercolor_grey55{ border-color: rgb(237,241,244);}
.bordercolor_ocean83{ border-color: rgb(125,203,205);}
.bordercolor_ocean91{ border-color: rgb(146,203,212);}
.bordercolor_ocean93{ border-color: rgb(141,212,218);}
.bordercolor_ocean94{ border-color: rgb(142,213,219);}
.bordercolor_ocean96{ border-color: rgb(148,213,215);}
.bordercolor_ocean98{ border-color: rgb(154,215,216);}
.bordercolor_ocean99{ border-color: rgb(175,223,227);}
.bordercolor_ocean100{ border-color: rgb(190,229,226);}
.bordercolor_ocean101{ border-color: rgb(193,229,227);}
.bordercolor_ocean102{ border-color: rgb(194,230,228);}
.bordercolor_orange17{ border-color: rgb(252,184,85);}
.bordercolor_orange18{ border-color: rgb(253,192,109);}
.bordercolor_orange20{ border-color: rgb(253,195,113);}
.bordercolor_orange21{ border-color: rgb(254,200,126);}
.bordercolor_pink7{ border-color: rgb(118,63,92);}
.bordercolor_pink24{ border-color: rgb(113,68,91);}
.bordercolor_pink26{ border-color: rgb(151,75,113);}
.bordercolor_pink29{ border-color: rgb(152,76,114);}
.bordercolor_pink30{ border-color: rgb(153,77,115);}
.bg_color_brown1{ background: rgb(89,13,15);}
.bg_color_brown2{ background: rgb(107,80,69);}
.bg_color_darkgrey1{ background: rgb(54,49,53);}
.bg_color_darkgrey2{ background: rgb(139,140,135);}
.bg_color_darkgrey3{ background: rgb(163,160,155);}
.bg_color_grey9{ background: rgb(170,167,162);}
.bg_color_grey16{ background: rgb(171,168,163);}
.bg_color_grey20{ background: rgb(172,169,164);}
.bg_color_grey21{ background: rgb(173,170,165);}
.bg_color_grey22{ background: rgb(174,171,164);}
.bg_color_grey23{ background: rgb(174,171,166);}
.bg_color_grey25{ background: rgb(175,172,167);}
.bg_color_grey29{ background: rgb(176,173,168);}
.bg_color_grey30{ background: rgb(186,182,181);}
.bg_color_grey32{ background: rgb(206,204,207);}
.bg_color_grey35{ background: rgb(238,238,238);}
.bg_color_grey38{ background: rgb(238,239,241);}
.bg_color_grey44{ background: rgb(238,239,243);}
.bg_color_grey45{ background: rgb(236,240,243);}
.bg_color_grey49{ background: rgb(239,240,244);}
.bg_color_grey55{ background: rgb(237,241,244);}
.bg_color_ocean83{ background: rgb(125,203,205);}
.bg_color_ocean91{ background: rgb(146,203,212);}
.bg_color_ocean93{ background: rgb(141,212,218);}
.bg_color_ocean94{ background: rgb(142,213,219);}
.bg_color_ocean96{ background: rgb(148,213,215);}
.bg_color_ocean98{ background: rgb(154,215,216);}
.bg_color_ocean99{ background: rgb(175,223,227);}
.bg_color_ocean100{ background: rgb(190,229,226);}
.bg_color_ocean101{ background: rgb(193,229,227);}
.bg_color_ocean102{ background: rgb(194,230,228);}
.bg_color_orange17{ background: rgb(252,184,85);}
.bg_color_orange18{ background: rgb(253,192,109);}
.bg_color_orange20{ background: rgb(253,195,113);}
.bg_color_orange21{ background: rgb(254,200,126);}
.bg_color_pink7{ background: rgb(118,63,92);}
.bg_color_pink24{ background: rgb(113,68,91);}
.bg_color_pink26{ background: rgb(151,75,113);}
.bg_color_pink29{ background: rgb(152,76,114);}
.bg_color_pink30{ background: rgb(153,77,115);}