:root {

    /* Colors: */
    --unnamed-color-c9c7c7: #C9C7C7;
    --unnamed-color-534d4d: #534D4D;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-fcb855: #FCB855;
    
    /* Font/text values */
    --unnamed-font-family-lato: Lato;
    --unnamed-font-family-courgette: Courgette;
    --unnamed-font-family-poppins: Poppins;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-size-22: 22px;
    --unnamed-font-size-50: 50px;
    --unnamed-font-size-70: 70px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-character-spacing-3: 3px;
    --unnamed-line-spacing-32: 32px;
    --unnamed-line-spacing-40: 40px;
    --unnamed-line-spacing-98: 98px;
    --unnamed-text-transform-titlecase: titlecase;
    }
    
    /* Character Styles */
    .unnamed-character-style-1 {
    font-family: var(--unnamed-font-family-lato);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-70);
    line-height: var(--unnamed-line-spacing-98);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-534d4d);
    }
    .unnamed-character-style-2 {
    font-family: var(--unnamed-font-family-lato);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-22);
    line-height: var(--unnamed-line-spacing-32);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-534d4d);
    }
    .unnamed-character-style-3 {
    font-family: var(--unnamed-font-family-courgette);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-50);
    line-height: var(--unnamed-line-spacing-40);
    letter-spacing: var(--unnamed-character-spacing-3);
    color: var(--unnamed-color-534d4d);
    text-transform: var(--unnamed-text-transform-titlecase);
    }

.font_2 {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 3em/1.2em var(--unnamed-font-family-courgette);
    color: var(--unnamed-color-534d4d);
    text-align: left;
    opacity: 1;
    margin-bottom: 5px;
}

.img_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.jpost_body {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 1.2em/1.5em var(--unnamed-font-family-lato);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-534d4d);
    text-align: justify;
}

.basic_PB {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: url("../images/pan_barnaba_kot.png") ;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat:no-repeat;
    width: 600px;
    height: 800px;
    /* max-height: 100%; */
    /* transform: translate(-150px, 140px); */
} 
.lpost_highlight {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 1.5em/1.5em var(--unnamed-font-family-courgette);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-fcb855);
    text-align: left;
}

.font_nd {
    text-decoration: none; 
    margin-left:3px;
    margin-right: 3px;
}

.footer2_font {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 1.2em/1.2em var(--unnamed-font-family-lato);
    color: var(--unnamed-color-534d4d);
    text-align: left;
    letter-spacing: 1.5px;
    opacity: 1;
}

.PB_image2 {
    width: 600px;
    height: 600px;
    border: 0px solid;
    padding: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color:var(--unnamed-color-ffffff);
    opacity: 1;
  }

  body {
    width: 100% !important;
    min-width: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 5px;
}