{% extends 'newLayout.html' %}
{% load static %}
{% load humanize %}
{% load define_action %}

{% block meta %}
    <title>Pan Barnaba - quiz</title>
    <meta name=”description” content=”Pan Barnaba i zagadkowa hipoteza. autor: Katarzyna Kalista. Quiz" />
{% endblock %}

{% block full %}
<div class="container">
    <div>
        <img src="{% static 'images/lapka.png' %}" class="PB_stamp" alt="cat food stamp">
    </div>
    <div class="msg_central2 font_2">
        lista dostępnych zestawów pytań
    </div>
    <div class="row justify-content-center">
        {% for item in quiz_list %}
            <dl class="col me-1">
                <dt class="lpost_title my-2">{{ item.0 }}</dt>
                <dd class="container">
                    {% for quiz in item.1 %}
                        <br>  
                        <div class="m-2">
                        <a class="PB_button" href="/quiz/{{ item.2 }}/{{ quiz }}">
                           <span>zestaw {{ quiz }}</span>
                        </a>
                    </div>
                    {% endfor %}
                </dd>
            </dl>
        {% endfor %}
    </div>
</div>

{% endblock %}