{% extends 'main.html' %}
{% load static %}

{% block meta %}
    <title>Pan Barnaba - szyfr Brownie</title>
    <meta name=”description” content=”Pan Barnaba i zagadkowa hipoteza. autor: Katarzyna Kalista. Szyfrowanie - szyfr brownie (czekoladka)” />
{% endblock %}

{% block head %}
    <link rel="stylesheet"  href="{% static 'css/PB_encrypt.css' %}"/>
{% endblock %}

{% block title_box %}
    <div class="d-inline-block ">
        <div class="row justify-content-center ">
            <h2>Twój czas wykonania</h2>
        </div>
        <div class="row justify-content-center border rounded-pill p-2 PB2" id="counter" value="0">
        </div>
    </div>
{% endblock %}

{% block full %}
<div class='container'>
    <span class="d-none" id="finish" >0</span>
    <span class="d-none" id="finalTime" >0</span>
    <span class="d-none" id="level">{{ level }}</span>
    <span class="d-none" id="key">{{ key }}</span>
    <span class="d-none" id="game_id">{{ quotation }}</span>
    <span class="d-none" id="method">{{ method }}</span>
    <span class="d-none" id="gameType">encrypt</span>
    <span class="d-flex justify-content-center PB2 PB_bg_logo m-2 justify-content-centre widith-100">
        zaczynamy!
    </span>
    <div class="container">
         <span class="m-2 d-flex justify-content-center PB3">Klucz Szyfrujący</span>
         <div class="d-flex justify-content-center align-items-center">
            <div>
                <table class="mx-2 PB3">
                    <tr class="border-bottom border-dark">
                        <td class="p-2">A</td>
                        <td class="p-2 border-end border-dark">B</td>
                        <td class="p-2">C</td>
                        <td class="p-2">D</td>
                        <td class="p-2 border-start border-dark">E</td>
                        <td class="p-2">F</td>
                    </tr>
                    <tr class="border-bottom border-dark">
                        <td class="p-2">G</td>
                        <td class="p-2 border-end border-dark">H</td>
                        <td class="p-2">I</td>
                        <td class="p-2">J</td>
                        <td class="p-2 border-start border-dark">K</td>
                        <td class="p-2">L</td>
                    </tr>
                    <tr>
                        <td class="p-2">M</td>
                        <td class="p-2 border-end border-dark">N</td>
                        <td class="p-2">O</td>
                        <td class="p-2">P</td>
                        <td class="p-2 border-start border-dark">R</td>
                        <td class="p-2">S</td>
                    </tr> 
                </table>
            </div>
            <div class="mx-2">
                <table class="mx-2 PB3 rot45">
                    <tr class="border-bottom border-dark">
                        <td class="px-3 py-2 border-end border-dark rot_45">T</td>
                        <td class="px-3 py-2 rot_45">U</td>
                    </tr>
                    <tr>
                        <td class="px-3 py-2 border-end border-dark rot_45">Y</td>
                        <td class="px-3 py-2 rot_45">W</td>
                    </tr>
                </table>
            </div>
            <div class="mx-2 PB3">
                <span class="border rounded-circle border-dark px-3 py-2">Z</span>
            </div>
        </div>
        <br>
        <span class="d-flex justify-content-center m-2 PB3">Odszyfruj...</span>
        <div class="shadow m-2 p-2">
            {% for item in encrypt %}
                {% if item in key %}
                    <span class="brownie_{{ item }} m-2 py-1">&#8226;</span>
                {% else %}
                    <span class="m-2 py-1">{{ item }}</span>
                {% endif %}
            {% endfor %}
        </div>
        <br>
        <div class="form-floating mb-3">
            <input type="text" autocomplete="off" class="form-control" id="answer" style="height: {{ rows }}px"></textarea>
            <label for="answer">wprowadź odszyfrowany tekst</label>
        </div>
        <div class="d-flex justify-content-center">
            <div class="border rounded-pill  p-2 PB2 d-none" id="end_site"></div>
            <span class="d-none PB4 PB_bg_error rounded-pill p-2" id="wrong" > coś sie nie zgadza. Poszukaj błedu. </span>
        </div>
    </div>  
    {% include 'encrypt/next_or_back.html' %}
    {% include 'scoring/score_list.html' %}
<br>
{% endblock %}

{% block add_ins %}
    <script src=" {% static 'js/timer.js' %} "></script> 
    <script src=" {% static 'js/encrypt.js' %} "></script> 
{% endblock %}