{% extends 'main.html' %}
{% load static %}

{% block meta %}
    <title>Pan Barnaba - szyfr Brownie</title>
    <meta name=”description” content=”Pan Barnaba i zagadkowa hipoteza. autor: Katarzyna Kalista. Szyfrowanie - szyfr brownie (czekoladka)” />
{% endblock %}

{% block head %}
    <link rel="stylesheet"  href="{% static 'css/PB_encrypt.css' %}"/>
{% endblock %}

{% block full %}
<div class='container'>
    {% if PB_Stories %}
        <div class="container">
            <!-- działa! {{ PB_Stories }} -->
            {% for bubble in PB_Stories %}
                {% include 'bubble.html' %}
            {% endfor %}
        </div>
    {% endif %}
    <span class="d-flex justify-content-center PB2 PB_bg_logo m-2 justify-content-centre widith-100">
        Na czym polega ten szyfr?
    </span>
    <div class="mx-2 p-2 shadow justify-content-center">
        <p>
            Aby sie bawić tym szyfrem potrzebne popatrz na poniższy rysunek. Każda z podstawowych liter jest 
            fragmentem tabliczki czekolady, dodadkowo cztery litery znajdują się w ćwiartkach X a jedna w kółku
        </p>
        <div class="d-flex justify-content-center align-items-center">
            <div>
                <table class="mx-2 PB3">
                    <tr class="border-bottom border-dark">
                        <td class="p-2">A</td>
                        <td class="p-2 border-end border-dark">B</td>
                        <td class="p-2">C</td>
                        <td class="p-2">D</td>
                        <td class="p-2 border-start border-dark">E</td>
                        <td class="p-2">F</td>
                    </tr>
                    <tr class="border-bottom border-dark">
                        <td class="p-2">G</td>
                        <td class="p-2 border-end border-dark">H</td>
                        <td class="p-2">I</td>
                        <td class="p-2">J</td>
                        <td class="p-2 border-start border-dark">K</td>
                        <td class="p-2">L</td>
                    </tr>
                    <tr>
                        <td class="p-2">M</td>
                        <td class="p-2 border-end border-dark">N</td>
                        <td class="p-2">O</td>
                        <td class="p-2">P</td>
                        <td class="p-2 border-start border-dark">R</td>
                        <td class="p-2">S</td>
                    </tr> 
                </table>
            </div>
            <div class="mx-2">
                <table class="mx-2 PB3 rot45">
                    <tr class="border-bottom border-dark">
                        <td class="px-3 py-2 border-end border-dark rot_45">T</td>
                        <td class="px-3 py-2 rot_45">U</td>
                    </tr>
                    <tr>
                        <td class="px-3 py-2 border-end border-dark rot_45">Y</td>
                        <td class="px-3 py-2 rot_45">W</td>
                    </tr>
                </table>

            </div>
            <div class="mx-2 PB3">
                <span class="border rounded-circle border-dark px-3 py-2">Z</span>
            </div>
        </div>
        <p>
            Każdą literlę można zapisać jej symbolem:
        </p>
        <ul class="PB3 m-3 list-group border-0">
            <li class="list-group-item m-2 py-0 border-0"><span class="brownie_a">&#8226;</span> to odpowiednik 'A', czyli lewa górna kostka czekolady, lewa litera</li>
            <li class="list-group-item m-2 py-0 border-0"><span class="brownie_j">&#8226;</span> to odpowiednik 'J', czyli środkowa kostka czekolady, prawa litera</li>
            <li class="list-group-item m-2 py-0 border-0"><span class="brownie_u">&#8226;</span> to odpowiednik 'U', czyli litera w prawej części X</li>
            <li class="list-group-item m-2 py-0 border-0"><span class="brownie_z">&#8226;</span> to oczywiście 'Z'</li>
        </ul>
        <p>
            Na przykład <span class="PB2">PAN BARNABA Z ANTKIEM</span> zaszyfrowany tą metodą będzie wyglądać tak:
        </p>
        <p>
            <span class="brownie_p">&#8226;</span>
            <span class="brownie_a">&#8226;</span>
            <span class="brownie_n">&#8226;</span>
            &nbsp;&nbsp;
            <span class="brownie_b">&#8226;</span>
            <span class="brownie_a">&#8226;</span>
            <span class="brownie_r">&#8226;</span>
            <span class="brownie_n">&#8226;</span>
            <span class="brownie_a">&#8226;</span>
            <span class="brownie_b">&#8226;</span>
            <span class="brownie_a">&#8226;</span>
            &nbsp;&nbsp;
            <span class="brownie_z">&#8226;</span>
            &nbsp;&nbsp;
            <span class="brownie_a">&#8226;</span>
            <span class="brownie_n">&#8226;</span>
            <span class="brownie_t">&#8226;</span>
            <span class="brownie_k">&#8226;</span>
            <span class="brownie_i">&#8226;</span>
            <span class="brownie_e">&#8226;</span>
            <span class="brownie_m">&#8226;</span>
            
        </p>
        <p>Do wyboru masz trzy poziomy trudności. Od zadań łatwych (dwu/trzy wyrazowych) do bardzo trudnych (długie cytaty).  <br>
            Sam zdecyduj od czego chcesz zacząć
        </p>
    </div>
    {% include 'encrypt/next_or_back.html' %}
    <br>
</div>

{% endblock %}

{% block add_ins %}
    <script src=" {% static 'js/timer.js' %} "></script> 
    <script src=" {% static 'js/encrypt.js' %} "></script> 
{% endblock %}