{% extends 'newLayout.html' %}
{% load static %}

{% block meta %}
    <title>Pan Barnaba - szyfr Divider</title>
    <meta name=”description” content=”Pan Barnaba i zagadkowa hipoteza. autor: Katarzyna Kalista. Szyfrowanie - szyfr ułamkowy (divider)” />
{% endblock %}

{% block head %}
    <link rel="stylesheet"  href="{% static 'css/PB_encrypt.css' %}"/>
{% endblock %}

{% block title_box %}
    {% include 'timer.html' %}
{% endblock %}

{% block full %}
<div class='container'>
    <span class="d-none" id="finish" >0</span>
    <span class="d-none" id="finalTime" >0</span>
    <span class="d-none" id="level">{{ level }}</span>
    <span class="d-none" id="key">{{ key }}</span>
    <span class="d-none" id="game_id">{{ quotation }}</span>
    <span class="d-none" id="method">{{ method }}</span>
    <span class="d-none" id="gameType">encrypt</span>
    <div>
        <img src="{% static 'images/lapka.png' %}" class="PB_stamp my-4" alt="cat food stamp">
    </div>
    <div class="msg_central2 font_2 my-4">
        zaczynamy!
    </div>
    <div class="container">
        <span class="m-2 d-flex justify-content-center cpost_title">Klucz Szyfrujący</span>
        <br>
         <div class="d-flex justify-content-center align-items-center my-2">
            <div>
                <table class="mx-2 PB3">
                    <tr class="border-bottom border-dark">
                        <td class="p-2">A</td>
                        <td class="p-2">B</td>
                        <td class="p-2">C</td>
                        <td class="p-2">D</td>
                        <td class="p-2">E</td>
                        
                    </tr>
                    <tr>
                        <td class="text-center" colspan="5">1</td>
                    </tr>
                </table>
            </div>
            <div>
                <table class="mx-2 PB3">
                    <tr class="border-bottom border-dark">
                        <td class="p-2">F</td>
                        <td class="p-2">G</td>
                        <td class="p-2">H</td>
                        <td class="p-2">I</td>
                        <td class="p-2">J</td>
                    </tr>
                    <tr>
                        <td class="text-center" colspan="5">2</td>
                    </tr>
                </table>
            </div>
            <div>
                <table class="mx-2 PB3">
                    <tr class="border-bottom border-dark">
                        <td class="p-2">K</td>
                        <td class="p-2">L</td>
                        <td class="p-2">M</td>
                        <td class="p-2">N</td>
                        <td class="p-2">O</td>
                    </tr>
                    <tr>
                        <td class="text-center" colspan="5">3</td>
                    </tr>
                </table>
            </div>
            <div>
                <table class="mx-2 PB3">
                    <tr class="border-bottom border-dark">
                        <td class="p-2">Q</td>
                        <td class="p-2">P</td>
                        <td class="p-2">R</td>
                        <td class="p-2">S</td>
                        <td class="p-2">T</td>
                    </tr>
                    <tr>
                        <td class="text-center" colspan="5">4</td>
                    </tr>
                </table>
            </div>
            <div>
                <table class="mx-2 PB3">
                    <tr class="border-bottom border-dark">
                        <td class="p-2">U</td>
                        <td class="p-2">V</td>
                        <td class="p-2">W</td>
                        <td class="p-2">X</td>
                        <td class="p-2">Y</td>
                        <td class="p-2">Z</td>
                    </tr>
                    <tr>
                        <td class="text-center" colspan="5">5</td>
                    </tr>
                </table>
            </div>
        </div>
        <br>
        <span class="d-flex justify-content-center m-2 cpost_title">Odszyfruj...</span>
        <br>
        <span class="d-flex justify-content-center m-2 cpost_body my-2" id="encrypt">{{ encrypt }}</span>
        {% include 'encrypt/encrypt_solve.html' %}
    </div>  
    {% include 'encrypt/next_or_back.html' %}
    {% include 'scoring/score_list.html' %}
<br>
</div>
{% endblock %}

{% block add_ins %}
    <script src=" {% static 'js/timer.js' %} "></script> 
    <script src=" {% static 'js/encrypt.js' %} "></script> 
{% endblock %}