{% extends 'newLayout.html' %}
{% load static %}

{% block meta %}
    <title>Pan Barnaba - szyfr Divider</title>
    <meta name=”description” content=”Pan Barnaba i zagadkowa hipoteza. autor: Katarzyna Kalista. Szyfrowanie - szyfr ułamkowy (divider)” />
{% endblock %}

{% block head %}
    <link rel="stylesheet"  href="{% static 'css/PB_encrypt.css' %}"/>
{% endblock %}

{% block full %}
<div class='container'>
    <div>
        <img src="{% static 'images/lapka.png' %}" class="PB_stamp my-4" alt="cat food stamp">
    </div>
    <div class="msg_central2 font_2 my-4">
        Na czym polega ten szyfr?
    </div>
    <div class="mx-2 p-2 cpost_body justify-content-center">
        <p>
            Aby sie bawić tym szyfrem popatrz na poniższy rysunek. Każda litera w zaszyfrowanym tekście jest reprezentowana przez 
            ułamek, którego licznikiem jest pozycja w górnym wierszu (od 1 do 5) a mianownikiem jest numer zestawu w którym litera wystepuje
        </p>
        <div class="d-flex justify-content-center align-items-center mx-2">
            <div>
                <table class="mx-2 PB3">
                    <tr class="border-bottom border-dark">
                        <td class="p-2">A</td>
                        <td class="p-2">B</td>
                        <td class="p-2">C</td>
                        <td class="p-2">D</td>
                        <td class="p-2">E</td>
                        
                    </tr>
                    <tr>
                        <td class="text-center" colspan="5">1</td>
                    </tr>
                </table>
            </div>
            <div>
                <table class="mx-2 PB3">
                    <tr class="border-bottom border-dark">
                        <td class="p-2">F</td>
                        <td class="p-2">G</td>
                        <td class="p-2">H</td>
                        <td class="p-2">I</td>
                        <td class="p-2">J</td>
                    </tr>
                    <tr>
                        <td class="text-center" colspan="5">2</td>
                    </tr>
                </table>
            </div>
            <div>
                <table class="mx-2 PB3">
                    <tr class="border-bottom border-dark">
                        <td class="p-2">K</td>
                        <td class="p-2">L</td>
                        <td class="p-2">M</td>
                        <td class="p-2">N</td>
                        <td class="p-2">O</td>
                    </tr>
                    <tr>
                        <td class="text-center" colspan="5">3</td>
                    </tr>
                </table>
            </div>
            <div>
                <table class="mx-2 PB3">
                    <tr class="border-bottom border-dark">
                        <td class="p-2">Q</td>
                        <td class="p-2">P</td>
                        <td class="p-2">R</td>
                        <td class="p-2">S</td>
                        <td class="p-2">T</td>
                    </tr>
                    <tr>
                        <td class="text-center" colspan="5">4</td>
                    </tr>
                </table>
            </div>
            <div>
                <table class="mx-2 PB3">
                    <tr class="border-bottom border-dark">
                        <td class="p-2">U</td>
                        <td class="p-2">V</td>
                        <td class="p-2">W</td>
                        <td class="p-2">X</td>
                        <td class="p-2">Y</td>
                        <td class="p-2">Z</td>
                    </tr>
                    <tr>
                        <td class="text-center" colspan="5">5</td>
                    </tr>
                </table>
            </div>
        </div>
        <p class="my-5 cpost_highlight">
            Każdą literlę można zapisać odpowiadającym jej ułamkiem:
        </p>
        <div>
            1/1 to odpowiednik 'A', czyli pierwsza litera pierwszego ułamka <br><br>
            5/2 to odpowiednik 'J', czyli piąta litera drugiego ułamka<br><br>
            3/4 to odpowiednik 'R', czyli trzecia litera czwartego ułamka<br><br>
            2/5 to oczywiście 'V', czyli druga litera piątego ułamka<br><br>
        </div>
        <p>
        
        <p>
            Na przykład <span class="lpost_highlight">PAN BARNABA Z ANTKIEM</span> zaszyfrowany tą metodą będzie wyglądać tak:
        </p>
        <p>
        </p>
            2/4 1/1 4/3 &nbsp;  2/1 1/1 3/4 4/3 1/1 2/1 1/1
        </p>
        <p>Do wyboru masz trzy poziomy trudności. Od zadań łatwych (dwu/trzy wyrazowych) do bardzo trudnych (długie cytaty).  <br>
            Sam zdecyduj od czego chcesz zacząć
        </p>
    </div>
    {% include 'encrypt/next_or_back.html' %}
    <br>
</div>

{% endblock %}

{% block add_ins %}
    <script src=" {% static 'js/timer.js' %} "></script> 
    <script src=" {% static 'js/encrypt.js' %} "></script> 
{% endblock %}