{% extends 'newLayout.html' %}
{% load static %}

{% block meta %}
    <title>Pan Barnaba - szyfr GADERYPOLUKI</title>
    <meta name=”description” content=”Pan Barnaba i zagadkowa hipoteza. autor: Katarzyna Kalista. Szyfrowanie - szyfr GADERYPOLUKI” />
{% endblock %}

{% block head %}
    <link rel="stylesheet"  href="{% static 'css/PB_encrypt.css' %}"/>
{% endblock %}

{% block title_box %}
    {% include 'timer.html' %}
{% endblock %}

{% block full %}
<div class='container'>
    <span class="d-none" id="finish" >0</span>
    <span class="d-none" id="finalTime" >0</span>
    <span class="d-none" id="level">{{ level }}</span>
    <span class="d-none" id="key">{{ key }}</span>
    <span class="d-none" id="game_id">{{ quotation }}</span>
    <span class="d-none" id="method">{{ method }}</span>
    <span class="d-none" id="gameType">encrypt</span>
    {% csrf_token %}
    <div>
        <img src="{% static 'images/lapka.png' %}" class="PB_stamp my-4" alt="cat food stamp">
    </div>
    <div class="msg_central2 font_2 my-4">
        zaczynamy!
    </div>
    <div class="container">
         <span class="m-2 d-flex justify-content-center cpost_title">Klucz Szyfrujący</span>
         <br>
         <table class="encrypt_table my-2">
             <tr>
                {% for item in key_view %}
                    <td class="{% if item != '-' %}cell_key{% else %}cell_none{% endif %}"> {{ item }}</td>
                {% endfor %}
            </tr>
        </table>
        <br>
        <span class="d-flex justify-content-center m-2 cpost_title">Odszyfruj...</span>
        <span class="d-flex justify-content-center p-3 cpost_body2 my-2" id="encrypt">{{ encrypt }}</span>
        {% include 'encrypt/encrypt_solve.html' %}
    </div>  
    {% include 'encrypt/next_or_back.html' %}
    {% include 'scoring/score_list.html' %}
    <br>
</div>  
{% endblock %}

{% block add_ins %}
    <script src=" {% static 'js/timer.js' %} "></script> 
    <script src=" {% static 'js/encrypt.js' %} "></script> 
{% endblock %}