{% extends 'newLayout.html' %}
{% load static %}

{% block meta %}
    <title>Pan Barnaba - szyfr Kaczor</title>
    <meta name=”description” content=”Pan Barnaba i zagadkowa hipoteza. autor: Katarzyna Kalista. Szyfrowanie - szyfr Kaczor" />
{% endblock %}

{% block head %}
    <link rel="stylesheet"  href="{% static 'css/PB_encrypt.css' %}"/>
{% endblock %}

{% block title_box %}
    {% include 'timer.html' %}
{% endblock %}

{% block full %}
<div class='container'>
    <span class="d-none" id="finish" >0</span>
    <span class="d-none" id="finalTime" >0</span>
    <span class="d-none" id="level">{{ level }}</span>
    <span class="d-none" id="key">{{ key }}</span>
    <span class="d-none" id="game_id">{{ quotation }}</span>
    <span class="d-none" id="method">{{ method }}</span>
    <span class="d-none" id="gameType">encrypt</span>
    <div>
        <img src="{% static 'images/lapka.png' %}" class="PB_stamp my-4" alt="cat food stamp">
    </div>
    <div class="msg_central2 font_2 my-4">
        zaczynamy!
    </div>
    <div class="container">
        <span class=" d-flex justify-content-center  my-2 cpost_title">Klucz Szyfrujący</span>
          <div class="d-flex justify-content-center align-items-center">
            <div>
                <table class="my-3 PB3">
                    <tr>
                        <td class="text-center border border-dark p-1 bg-warning">1</td>
                        <td class="text-center border border-dark p-1 bg-warning">2</td>
                        <td class="text-center border border-dark p-1 bg-warning">3</td>
                        <td class="text-center border border-dark p-1 bg-warning">4</td>
                        <td class="text-center border border-dark p-1 bg-warning">5</td>
                        <td class="text-center border border-dark p-1 bg-warning">6</td>
                        <td class="text-center border border-dark p-1 bg-warning">7</td>
                        <td class="text-center border border-dark p-1 bg-warning">8</td>
                    </tr>
                    {% for item in KACZOR %}
                    <tr >
                        {% for char in item %}
                            <td class="border border-dark py-1 px-3 {% if forloop.counter == 1 %}bg-secondary{% endif %}">{{ char }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <br>
        <span class="d-flex justify-content-center m-2 cpost_title">Odszyfruj...</span>
        <span class="d-flex justify-content-center py-4 cpost_body" id="encrypt">{{ encrypt }}</span>
        {% include 'encrypt/encrypt_solve.html' %}
    </div>  
    {% include 'encrypt/next_or_back.html' %}
    {% include 'scoring/score_list.html' %}
    <br>
</div>
{% endblock %}

{% block add_ins %}
    <script src=" {% static 'js/timer.js' %} "></script> 
    <script src=" {% static 'js/encrypt.js' %} "></script> 
{% endblock %}