<div class="row">
        <div class="col d-flex justify-content-center my-3">
            <a href="/encrypt/{{ method }}/1">
                <button class="btn PB_button btn-md mx-5"> Basic </button>
            </a>
            <a href="/encrypt/{{ method }}/2">
                <button class="btn PB_button btn-md mx-5"> Medium </button>
            </a>
            <a href="/encrypt/{{ method }}/3">
                <button class="btn PB_button btn-md mx-5"> Hard </button>
            </a>
            
        </div>
        <div class="col d-flex justify-content-center my-3">
            <a href="/encrypt/">
                <button class="btn PB_button_outline btn-md mx-5"> Zmień metodę szyfrowania </button>
            </a>
        </div>
    </div>