{% extends 'newLayout.html' %}
{% load static %}

{% block meta %}
    <title>Pan Barnaba - labirynt</title>
    <meta name=”description” content=”Pan Barnaba i zagadkowa hipoteza. autor: Katarzyna Kalista. algorytm labirynt" />
{% endblock %}

{% block head %}
    <link rel="stylesheet"  href="{% static 'css/PB_maths.css' %}"/>
 {% endblock %}

{% block full %}
<div class="container">
    <div>
        <img src="{% static 'images/lapka.png' %}" class="PB_stamp my-4" alt="cat food stamp">
    </div>
    <div class="msg_central2 font_2 my-2">
        Jak algorytm odnajduje drogę w labiryncie?
    </div>
    <p class="jpost_body mb-2">
        Algorytm (czyli przepis) zaczyna w miejscu początkowym i wykonuje krok za krokiem. 
        Jeśli napotka miejsce, gdzie droga się rozgałęzia, wówczas rozdziela się i idzie jednocześnie po dwóch ścieżkach. 
        I tak za każdym razem po napotkaniu kolejnych rozgałęzień. 
        Jeśli jakaś droga dojdzie do ściany, algorytm zaprzestaje podążania tą trasą. 
        W końcu któraś z dróg dojdzie do celu. Jeśli są dwie drogi prowadzące do punktu docelowego, wygra ta krótsza. 
        Zresztą najlepiej popatrz poniżej, a potem zbuduj labirynt i spróbuj rzucić wyzwanie komputerowi :)
        <br>
    </p>
    <div class="container mt-2">
        <input type="text" class="d-none" name="demo" id="demo">
        <input type="text" class="d-none" name="rows" data-rows="{{ rows }}" value="{{ rows }}">
        <input type="text" class="d-none" name="cols" data-rows="{{ cols }}" value="{{ cols }}">
        <table class="tableGrid mx-auto">
            {% for row in labirynth %}
                <tr class="col m-0 p-0">
                {% for item in row %}
                    <td class="cellWall">
                        <div class="cell3 
                            {% if item == 0 %}
                                deadWall
                            {% elif item == -1 %}
                                startLab
                            {% elif item == -2 %}
                                endLab
                            {% else %}
                                liveWall
                            {% endif %}" data-x="{{ forloop.parentloop.counter0 }}" data-y="{{ forloop.counter0 }}" data-value="{{ item }}"> 
                            <div name="Step"></div>
                        </div>
                        
                        </td>
                {% endfor %}
                </tr>
            {% endfor %} 
        </table>
    </div>
    <div class="cpost_body my-3" name="example">
        <!-- <a href=""> -->
            <button class="btn PB_button disabled" id="reset">Uruchom jeszcze raz</button>
        <!-- </a> -->
        <a href="{% url 'labirynth_go' %}">
            <button class="btn PB_button "">Zbuduj własny labirynt!</button>
        </a>
    </div>
    <br>
    <br>
    <br>
</div>

{% endblock %}
{% block add_ins %}
    <script src=" {% static 'js/labirynth.js' %} "></script> 
{% endblock %}