{% extends 'main.html' %}

{% block meta %}
    <title>Pan Barnaba - puzzle</title>
    <meta name=”description” content=”Pan Barnaba i zagadkowa hipoteza. autor: Katarzyna Kalista. Puzzle" />
{% endblock %}

{% load static %}

{% block full %}
<div class='container'>
    {% if PB_Stories %}
        <div class="container">
            <!-- działa! {{ PB_Stories }} -->
            {% for bubble in PB_Stories %}
                {% include 'bubble.html' %}
            {% endfor %}
        </div>
    {% endif %}
    <span class="d-flex PB2 PB_bg_logo m-4 justify-content-centre widith-100">poziom trudności</span>
    <div class="d-flex d-flex justify-content-md-center widith-50">
        <div class="custom-control custom-switch mr-5">
            <input type="checkbox" class="btn-check"  id="level_3" name='level_3' value=3 checked >
            <label class="btn btn-outline-secondary mx-4" for="level_3" >łatwe (3 x 3)</label>
        </div>
        <p> </p>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="btn-check"  id="level_4" name = 'level_4' value=4 >
            <label class="btn btn-outline-secondary mx-4" for="level_4" >trudne (4 x 4)</label>
        </div>
    </div>
    {% with static_folder='images/puzzle/' %}
        <span class="d-flex PB2 PB_bg_logo m-4 justify-content-centre widith-100">Wybierz obrazek</span>
                        <div class="card-group">  
                            <div class="row">
                            {% for item in puzzle %}
                                {% include 'card.html' %}
                            {% endfor %}
                            </div>  
                        </div>
    {% endwith %}
</div>

{% endblock %}

{% block add_ins %}
    <script src=" {% static 'js/level_selector.js' %} "></script> 
{% endblock %}
